## Import the dataset

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

In [2]:
dataset = pd.read_csv('weatherAUS.csv')
dataset.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

## Exploratory Data Analysis

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [4]:
dataset.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [12]:
dataset.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [13]:
dataset.corr()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
MinTemp,1.000000,0.736555,0.103938,0.466993,0.072586,0.177415,0.175064,0.175173,-0.232899,0.006089,-0.450970,-0.461292,0.078754,0.021605,0.901821,0.708906
MaxTemp,0.736555,1.000000,-0.074992,0.587932,0.470156,0.067615,0.014450,0.050300,-0.504110,-0.508855,-0.332061,-0.427167,-0.289370,-0.277921,0.887210,0.984503
Rainfall,0.103938,-0.074992,1.000000,-0.064351,-0.227549,0.133659,0.087338,0.057887,0.224405,0.255755,-0.168154,-0.126534,0.198528,0.172403,0.011192,-0.079657
Evaporation,0.466993,0.587932,-0.064351,1.000000,0.365602,0.203021,0.193084,0.129400,-0.504092,-0.390243,-0.270362,-0.293581,-0.183793,-0.182618,0.545115,0.572893
Sunshine,0.072586,0.470156,-0.227549,0.365602,1.000000,-0.034750,0.005499,0.053834,-0.490819,-0.629130,0.041970,-0.019719,-0.675323,-0.703930,0.291188,0.490501
WindGustSpeed,0.177415,0.067615,0.133659,0.203021,-0.034750,1.000000,0.605303,0.686307,-0.215070,-0.026327,-0.458744,-0.413749,0.071736,0.109168,0.150150,0.032748
WindSpeed9am,0.175064,0.014450,0.087338,0.193084,0.005499,0.605303,1.000000,0.519547,-0.270858,-0.031614,-0.228743,-0.175817,0.025112,0.054639,0.128545,0.004569
WindSpeed3pm,0.175173,0.050300,0.057887,0.129400,0.053834,0.686307,0.519547,1.000000,-0.145525,0.016432,-0.296351,-0.255439,0.053337,0.025396,0.163030,0.027778
Humidity9am,-0.232899,-0.504110,0.224405,-0.504092,-0.490819,-0.215070,-0.270858,-0.145525,1.000000,0.666949,0.139442,0.186858,0.452297,0.357326,-0.471354,-0.498399
Humidity3pm,0.006089,-0.508855,0.255755,-0.390243,-0.629130,-0.026327,-0.031614,0.016432,0.666949,1.000000,-0.027544,0.051997,0.517120,0.523120,-0.221019,-0.557841
Pressure9am,-0.450970,-0.332061,-0.168154,-0.270362,0.041970,-0.458744,-0.228743,-0.296351,0.139442,-0.027544,1.000000,0.961326,-0.129796,-0.147861,-0.422556,-0.286770
Pressure3pm,-0.461292,-0.427167,-0.126534,-0.293581,-0.019719,-0.413749,-0.175817,-0.255439,0.186858,0.051997,0.961326,1.000000,-0.060772,-0.084778,-0.470187,-0.389548
Cloud9am,0.078754,-0.289370,0.198528,-0.183793,-0.675323,0.071736,0.025112,0.053337,0.452297,0.517120,-0.129796,-0.060772,1.000000,0.603564,-0.136959,-0.302060
Cloud3pm,0.021605,-0.277921,0.172403,-0.182618,-0.703930,0.109168,0.054639,0.025396,0.357326,0.523120,-0.147861,-0.084778,0.603564,1.000000,-0.126659,-0.317420
Temp9am,0.901821,0.887210,0.011192,0.545115,0.291188,0.150150,0.128545,0.163030,-0.471354,-0.221019,-0.422556,-0.470187,-0.136959,-0.126659,1.000000,0.860591
Temp3pm,0.708906,0.984503,-0.079657,0.572893,0.490501,0.032748,0.004569,0.027778,-0.498399,-0.557841,-0.286770,-0.389548,-0.302060,-0.317420,0.860591,1.000000

In [17]:
print('Number of Cities: ' + str(len(dataset['Location'].unique())))
print(dataset['Location'].value_counts())

Number of Cities: 49
Canberra            3436
Sydney              3344
Perth               3193
Darwin              3193
Melbourne           3193
Brisbane            3193
Adelaide            3193
Hobart              3193
Wollongong          3040
Bendigo             3040
Cairns              3040
MountGinini         3040
Albany              3040
Albury              3040
Ballarat            3040
Townsville          3040
GoldCoast           3040
AliceSprings        3040
Launceston          3040
MountGambier        3040
Newcastle           3039
Penrith             3039
Tuggeranong         3039
PerthAirport        3009
Sale                3009
NorfolkIsland       3009
CoffsHarbour        3009
Dartmoor            3009
Woomera             3009
Portland            3009
MelbourneAirport    3009
Richmond            3009
Cobar               3009
PearceRAAF          3009
Nuriootpa           3009
Witchcliffe         3009
Watsonia            3009
Mildura             3009
WaggaWagga          3009
SydneyAirport       3009
Moree               3009
BadgerysCreek       3009
Williamtown         3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Nhil                1578
Katherine           1578
Uluru               1578
Name: Location, dtype: int64

## Data Cleaning

### Missing Value

In [22]:
missing_data = dataset.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print(str(np.sum(missing_data[column])) + ' missing values - ' + str(np.sum(missing_data[column]) / 145460 * 100) + " %" )
    print("")

Date
0 missing values - 0.0 %

Location
0 missing values - 0.0 %

MinTemp
1485 missing values - 1.0208992162793895 %

MaxTemp
1261 missing values - 0.8669049910628353 %

Rainfall
3261 missing values - 2.2418534304963567 %

Evaporation
62790 missing values - 43.166506256015396 %

Sunshine
69835 missing values - 48.00976213391998 %

WindGustDir
10326 missing values - 7.098858792795271 %

WindGustSpeed
10263 missing values - 7.055547916953114 %

WindDir9am
10566 missing values - 7.263852605527293 %

WindDir3pm
4228 missing values - 2.906641000962464 %

WindSpeed9am
1767 missing values - 1.214766946239516 %

WindSpeed3pm
3062 missing values - 2.105046060772721 %

Humidity9am
2654 missing values - 1.8245565791282825 %

Humidity3pm
4507 missing values - 3.09844630826344 %

Pressure9am
15065 missing values - 10.356799120033 %

Pressure3pm
15028 missing values - 10.331362573903478 %

Cloud9am
55888 missing values - 38.42155919153032 %

Cloud3pm
59358 missing values - 40.80709473394747 %

Temp9am
1767 missing values - 1.214766946239516 %

Temp3pm
3609 missing values - 2.4810944589577892 %

RainToday
3261 missing values - 2.2418534304963567 %

RainTomorrow
3267 missing values - 2.245978275814657 %

In [24]:
dataset.drop(['Evaporation', 'Sunshine', 'Cloud9am', 'Cloud3pm'], axis = 1, inplace = True)

In [37]:
for column in dataset.columns.values.tolist():
    if(dataset[column].dtype == np.float64):
        mean = dataset[column].mean()
        dataset[column].replace(np.NaN, mean, inplace = True)
    else:
        most_common = dataset[column].value_counts().idxmax()
        dataset[column].replace(np.NaN, most_common, inplace = True)

### Visualisation

In [ ]:
sns.pairplot(dataset, hue = 'RainTomorrow')